header {
    background-color: #1f1f1f;
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

    .header-sub {
        font-size: 12px;
        font-family: 'Prentendard';
        padding: 2px 20px;
        display: flex;
        gap: 5px;

        .img-wrap {
            width: 12px;
            height: 12px;

            > img {
                width: 100%;
            }
        }

        .html-ic {
            display: flex;
            align-items: flex-end;

            &::before {
                content: '';
                background: url(../../public/imgs/ic-vscode-html.svg) no-repeat 0 0 / cover;
                display: inline-block;
                width: 13px;
                height: 13px;
                margin-right: 5px;
            }
        }
    }
}

.header {
    background-color: #181818;
    width: 100%;
    height: 40px;
    box-shadow: inset 0 -1px 0 #454545;
    display: flex;

    nav {
        display: flex;

        >a {
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 1rem;
            font-family: 'Pretendard';
            font-weight: 200;
            padding: 0 40px;
            border-right: 1px solid #454545;

            &.selected {
                background-color: #1F1F1F;
                border-bottom: 1px solid #1F1F1F;
                border-top: 2px solid #0078D4;
            }
        }
    }
}