.hero {
    margin: 200px auto;
    position: relative;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    width: 1240px;

    .title {
        font-size: 4rem;

        .point {
            color: #569CD6;
        }
    }
}

.imgWrap {
    width: 150px !important;
    height: 150px;
    border-radius: 9999px;
    overflow: hidden;

    > img {
        width: 100%;
    }
}

.img-wrap {
    width: 120px;
    padding: 10px 0;
    > img {
        width: 100%;
    }
}

.img-tag {
    display: flex;
}

.altImgalt {
    display: flex;
}

.src {
    color: #9CDCFE;
}

.equal {
    color: #cccccc;
}

.alt {
    color: #CE9178;
}

.src-alt {
    padding-left: 10px;
}

@media (max-width: 1239px) {
    .details {
        max-width: 1000px;
    }
}